<%= form_for @search, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :query, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :query, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :searched_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :searched_at, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :converted_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :converted_at, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                searches_path, :class => 'btn' %>
  </div>
<% end %>
