<h1>Listing products</h1>
<form name='form' action='/products' method='get'>
  <div class='example example-twitter-oss'>
  <input type='text' name='q' id="complete"  class='typeahead'>
  </div>
  <!-- <input type='submit' name='Search'> -->
  <button type='submit'>Search</button>
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Description</th> -->
      <th>Price</th>
      <th>Sku</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <!-- <td><%= product.description %></td> -->
        <td><%= product.price %></td>
        <td><%= product.sku %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
<br>

<%= link_to 'New Product', new_product_path %>
